
.box1 {
    border: 2px solid black;
    margin: 15px;
    padding: 0px,6px,6px,0px;
    height: 185px;
    width: 450px;
}

.box2 {
    border: 5px;;
    margin: 1px;
    padding: 0px;
    font-size: 15px;
    background-color:rgb(135, 188, 206);
}

.box3 {
    border: 5px;
    margin: 1px;
    padding: 0px ;
    font-size: small;
    background-color:rgb(50, 211, 50);
}