.b0{
    border: 2px solid black;
    background-color: rgb(212, 126, 100);
    height: 350px;
    width: 500px;
}
img{
    height: 5cm;
    width: 5cm;
}

.p1{
    text-align: right;
}

.p2{
    text-align: center;
    background-color:beige
}

