*{
    margin: 5px;
    padding: 5px;
}
.container{
    display: flex ;  
    height: 200px;
    width: 500px;
    border: 1px solid black;
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
    flex-wrap:wrap-reverse;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex end;
   
    
}

.item{
    height: 65px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(190, 157, 190);
    gap: column 10px;
}
    


