*{
    margin: 5px;
    padding: 5px;
}
.container {
    display: flex;              /* Makes this a flex container */
    height: 200px;              /* Fixed height */
    width: 700px;               /* Fixed width */
    border: 1px solid black;    /* Just for visibility */
    
    flex-direction: row;        /* Items flow left → right */
    /* flex-direction: column-reverse; */ /* Alternative: top → bottom reversed */
    
    flex-wrap: wrap-reverse;    /* Items wrap into multiple lines, but in reverse order */
    
    flex-flow: row wrap;     /* Shorthand: overrides flex-direction + flex-wrap */
    
    justify-content: space-evenly;    /* Aligns items horizontally (main axis) */
  
    align-items:center;    /* Aligns items vertically (cross axis) */
 
    align-content: space-around;    /* Aligns multiple rows/columns of items */
    gap: 20px 30px;
}

    


.item{
    height: 65px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(105, 142, 223);
   
    flex-grow: 2;

}
  

.item4{
    order: -1;
    flex-grow: 6;
    /* flex-shrink: 1; */
    /* align-self: 3; */
}


