.container {
    border: 3px solid black;
    padding: 10px;
}


.box1 {
    border: 30px solid blue;
    margin: 20px;
    padding: 50px;
    background-color: yellow;
    height: 8px;
    width: 400px;
    text-align: center;
   }