*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;  */
}


p{
    color:blue; 
    background-color: rgb(184, 128, 128);
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
 
div{
    height: 500px;
    width: 300px;
    background-color: green; 
    border : 2px double border black;
    padding: 10px;
    margin: 50px;

}


.jk{
    color:red;
    background-color: burlywood;
}
 body{
    background-color: violet;
 }
 #l1{
    color: brown;
 }
 